*.class
*.log

# Package files #
*.jar
*.war
*.zip 

# Maven #
target
VERSION

# Temporary files #
*~
dist

# Custom #
Makefile
install.sh
data.groovy

*.zip

*.zip

src/test/resources/lddl-scripts.zip
