*.class
*.log

# Package files #
*.jar
*.war
*.zip 

# Maven #
target
VERSION

# Temporary files #
*~
dist
.DS_Store

# Custom #
#Makefile
install.sh
data.groovy

*.zip

src/test/resources/lddl-scripts.zip
src/main/java/org/anc/lapps/lddl/Version.java
